<div>
  <dl>
    <dt>Reserva:</dt>
    <dd><%= link_to booking.code, booking_path(booking) %></dd>

    <dt>Quarto:</dt>
    <dd><%= booking.room.name %></dd>

    <dt>Data de check-in:</dt>
    <dd><%= l(booking.start_date) %></dd>

    <dt>Data de check-out:</dt>
    <dd><%= l(booking.end_date) %></dd>

    <dt>Número de hóspedes:</dt>
    <dd><%= booking.number_of_guests %></dd>

    <dt>Status:</dt>
    <dd><%= t(booking.status) %></dd>
  </dl>
</div>