<%= form_with(url: confirmation_room_bookings_path, method: :get) do |f| %>
  <div>
    <%= f.label :start_date, Booking.human_attribute_name(:start_date) %>
    <%= f.date_field :start_date %>
  </div>
  <div>
    <%= f.label :end_date, Booking.human_attribute_name(:end_date) %>
    <%= f.date_field :end_date %>
  </div>
  <div>
    <%= f.label :number_of_guests, Booking.human_attribute_name(:number_of_guests) %>
    <%= f.number_field :number_of_guests %>
  </div>
  <div>
    <%= f.submit t("advance_button") %>
  </div>
<% end %>