<% if @booking.start_date > Date.today %>

  <p><%= t("check_in_available_from") %> <%= l(@booking.start_date) %></p>

<% elsif @booking.confirmed? %>

  <div id="guests-registration">
    <h3>Registro de hóspedes</h3>
    <%= form_with(url: check_in_room_booking_path(@room)) do |f| %>
      <% @booking.number_of_guests.times do |i| %>
        <div class="guest-info">
          <%= f.fields_for "guests[guest_#{i}]" do |g| %>
            <%= g.label :name, "Hóspede: " %>
            <%= g.text_field :name, placeholder: "Nome completo: " %>
            <%= g.label :document, "Número do documento" %>
            <%= g.text_field :document, placeholder: "RG ou CPF" %>
            <%= g.hidden_field :booking_id, value: @booking.id %>
          <% end %>
        </div>
      <% end %>
      <%= f.submit t("check_in_button"), data: { turbo_confirm: t("check_in_confirm") } %>
    <% end %>
  </div>

<% elsif @booking.active? %>
  <%= form_with url: check_out_room_booking_path(@room) do |f| %>
    <%= f.label :pay_method, "Método de pagamento" %>
    <%= f.text_field :pay_method %>
    <%= f.submit t("check_out_button"), data: { turbo_confirm: t("check_out_confirm") } %>
  <% end %>

<% end %>

<% if Date.today >= @booking.start_date + 2.days && @booking.confirmed? %>
  <%= button_to t("cancel_booking_button"), cancel_room_booking_path(@room), data: { turbo_confirm: t("cancel_booking_confirm") } %>
<% end %>