<% if @booking.confirmed? && @booking.cancel_date > Date.today %>
  <div>
    <p><%= t("cancel_booking_until") %> <strong><%= l(@booking.cancel_date) %></strong></p>
    <%= button_to t("cancel_booking_button"), cancel_room_booking_path(@room.id), data: { turbo_confirm: t("cancel_booking_confirm") } %>
  </div>
<% elsif @booking.confirmed? && @booking.cancel_date <= Date.today %>
  <div>
    <p><%= t("booking_cant_be_canceled") %></p>
  </div>
<% elsif @booking.closed? %>
  <div>
    <%= link_to "Avaliar", new_review_path %>
  </div>
<% end %>