<div>
  <% if @booking.confirmed? && @booking.cancel_date > Date.today %>
    <div>
      <p><%= t("cancel_booking_until") %> <strong><%= l(@booking.cancel_date) %></strong></p>
      <%= button_to t("cancel_booking_button"), cancel_room_booking_path(@room.id), data: { turbo_confirm: t("cancel_booking_confirm") }, class: "btn btl-lg btn-dark" %>
    </div>
  <% elsif @booking.confirmed? && @booking.cancel_date <= Date.today %>
    <div>
      <p><%= t("booking_cant_be_canceled") %></p>
    </div>
  <% elsif @booking.closed? && @review.nil? %>
    <div>
      <%= link_to "Avaliar", new_booking_review_path(@booking), class: "btn btn-lg btn-outline-success" %>
    </div>
  <% end %>
</div>

<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
