<div class="text-center">
  <h1><%= Booking.model_name.human count: 2 %></h1>
</div>

<% if @bookings.empty? %>
  <p><%= t("no_bookings_found_for_user") %></p>
<% end %>

<div id="bookings-list" class="container">
  <div class="row">
    <% @bookings.each do |booking| %>
      <div class="col-md-4">

        <div class="card">
          <div class="card-header">
            Reserva
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= link_to booking.code, booking %></h5>
            <dl class="list-group list-group-flush">
              <dt><%= Inn.model_name.human count: 1 %>:</dt>
              <dd class="list-group-item"><%= booking.room.inn.name %></dd>
              <dt><%= Room.model_name.human count: 1 %>:</dt>
              <dd class="list-group-item"><%= booking.room.name %></dd>
              <dt><%= t("booking_period") %>:</dt>
              <dd class="list-group-item"><%= I18n.l(booking.start_date) %> - <%= I18n.l(booking.end_date) %></dd>
            </dl>
          </div>
        </div>

      </div>
    <% end %>
  </div>
</div>


<section id="closed-bookings">
  <h2><%= t("closed_bookings") %></h2>
  <ul>
    <% @closed_bookings.each do |closed_booking| %>
      <li>
        <%= link_to closed_booking.code, closed_booking %>
        <dl>
          <dt><%= Inn.model_name.human count: 1 %>:</dt>
          <dd><%= closed_booking.room.inn.name %></dd>
          <dt><%= Room.model_name.human count: 1 %>:</dt>
          <dd><%= closed_booking.room.name %></dd>
          <dt><%= t("booking_period") %>:</dt>
          <dd><%= I18n.l(closed_booking.start_date) %> - <%= I18n.l(closed_booking.end_date) %></dd>
        </dl>
      </li>
    <% end %>
  </ul>
</section>

<br>

<div class="text-center">
  <%= link_to t("back_to_beginning_link"), root_path, class: "btn btn-lg btn-outline-dark" %>
</div>