<h1><%= Booking.model_name.human count: 2 %></h1>

<% if @bookings.empty? %>
  <p><%= t("no_bookings_found_for_user") %></p>
<% end %>

<section id="bookings-list">
  <ul>
    <% @bookings.each do |booking| %>
      <li>
        <%= link_to booking.code, booking %>
        <dl>
          <dt><%= Inn.model_name.human count: 1 %>:</dt>
          <dd><%= booking.room.inn.name %></dd>
          <dt><%= Room.model_name.human count: 1 %>:</dt>
          <dd><%= booking.room.name %></dd>
          <dt><%= t("booking_period") %>:</dt>
          <dd><%= I18n.l(booking.start_date) %> - <%= I18n.l(booking.end_date) %></dd>
        </dl>
      </li>
    <% end %>
  </ul>
</section>

<%= link_to t("back_to_beginning_link"), root_path %>