<div class="text-center">
  <h1><%= Booking.model_name.human count: 2 %></h1>
</div>

<% if @bookings.empty? %>
  <p><%= t("no_bookings_found_for_user") %></p>
<% end %>

<div id="bookings-list" class="container">
  <div class="row d-flex justify-content-center">
    <% @bookings.each do |booking| %>
      <div class="col-md-4 mb-3">
        <%= render partial: "my_bookings_card", locals: { booking: booking } %>
      </div>
    <% end %>
  </div>
</div>


<div id="closed-bookings" class="container">
  <div class="row d-flex justify-content-center">
    <h2><%= t("closed_bookings") %></h2>
      <% @closed_bookings.each do |closed_booking| %>
        <div class="col-md-4 mb-3">
          <%= render partial: "my_bookings_card", locals: { booking: closed_booking } %>
        </div>
      <% end %>
  </div>
</div>

<br>

<div class="text-center">
  <%= link_to t("back_to_beginning_link"), root_path, class: "btn btn-lg btn-outline-dark" %>
</div>