<section class="form">
    <%= render partial: "shared/form_errors", locals: { model: @pre_booking } %>

    <h1 class="text-center"><%= t "booking_details" %></h1>

    <div id="booking-inn-room-names" class="text-center">
        <h4><%= Inn.model_name.human(count: 1) %>: <%= @inn.name %></h4>
        <h4><%= Room.model_name.human(count: 1) %>: <%= @room.name %></h4>
    </div>

    <%= render partial:("booking_form") %>

    <%= link_to t("back_link"), @room %>
</section>
