<%= render partial: "shared/form_errors", locals: { model: @pre_booking } %>

<h1>Detalhes da reserva</h1>

<h4>Pousada: <%= @inn.name %></h4>
<h4>Quarto: <%= @room.name %></h4>

<%= render partial: "booking_form" %>

<%= link_to "Voltar", @room %>