<h1><%= I18n.t("booking_details") %></h1>

<section id="booking-details">
  <h2><%= @inn.name %></h2>
  <h3><%= Room.model_name.human(count: 1) %>: <%= @room.name %></h3>

  <dl>
    <dt><%= Booking.human_attribute_name(:check_in) %>:</dt>
    <dd><%= l(@booking.start_date) %> a partir das <%= @inn.check_in_time.strftime("%H:%M") %> horas</dd>

    <dt><%= Booking.human_attribute_name(:check_out) %>:</dt>
    <dd><%= l(@booking.end_date) %> até as <%= @inn.check_out_time.strftime("%H:%M") %> horas</dd>

    <dt><%= Booking.human_attribute_name(:number_of_guests) %>:</dt>
    <dd><%= @booking.number_of_guests %></dd>

    <dt><%= Booking.human_attribute_name(:bill) %>:</dt>
    <dd><%= number_to_currency @booking.calculate_bill, unit: "R$", delimiter: ".", separator: "," %></dd>

    <dt><%= Booking.human_attribute_name(:code) %>:</dt>
    <dd><%= @booking.code %></dd>

    <dt><%= Booking.human_attribute_name(:status) %>:</dt>
    <dd><%= t(@booking.status) %></dd>
  </dl>
</section>

<% if @review.present? %>
  <section id="review">
    <h3>Avaliação</h3>
    <dl>
      <dt>Nota:</dt>
      <dd><%= @review.score %></dd>
      <dt>Mensagem:</dt>
      <dd><%= @review.message %></dd>
    </dl>
  </section>

  <section id="review-answer">
    <%= render partial: "reviews/review_answer" %>
  </section> 
<% end %>

<section id="booking-options">
  <% if current_user %>
    <%= render partial: "user_options" %>
  <% elsif current_owner %>
    <%= render partial: "owner_options" %>
  <% end %>
</section>

<%= link_to t("back_link"), bookings_path %>
