<h1>Detalhes da Reserva</h1>

<section id="booking-details">
  <h2><%= @inn.name %></h2>
  <h3>Quarto: <%= @room.name %></h3>

  <dl>
    <dt>Check-in:</dt>
    <dd><%= l(@booking.start_date) %> a partir das <%= @inn.check_in_time.strftime("%H:%M") %> horas</dd>

    <dt>Check-out:</dt>
    <dd><%= l(@booking.end_date) %> até as <%= @inn.check_out_time.strftime("%H:%M") %> horas</dd>

    <dt>Número de hóspedes:</dt>
    <dd><%= @booking.number_of_guests %></dd>

    <dt>Valor:</dt>
    <dd><%= number_to_currency @booking.calculate_bill, unit: "R$", delimiter: ".", separator: "," %></dd>

    <dt>Código:</dt>
    <dd><%= @booking.code %></dd>

    <dt>Status:</dt>
    <dd><%= t(@booking.status) %></dd>
  </dl>
</section>

<section id="booking-options">
  <% if current_user %>
    <%= render partial: "user_canceling" %>
  <% elsif current_owner %>
    <%= render partial: "owner_options" %>
  <% end %>
</section>

