<h1 class="text-center"><%= I18n.t("booking_details") %></h1>

<section class="list-formatting">
  <div class="text-center">
    <h2><%= @inn.name %></h2>
    <h3><%= Room.model_name.human(count: 1) %>: <%= @room.name %></h3>
  </div>

  <dl class="list-group list-group-flush">
    <dt><%= Booking.human_attribute_name(:check_in) %>:</dt>
    <dd class="list-group-item"><%= l(@booking.start_date) %> a partir das <%= @inn.check_in_time.strftime("%H:%M") %> horas</dd>

    <dt><%= Booking.human_attribute_name(:check_out) %>:</dt>
    <dd class="list-group-item"><%= l(@booking.end_date) %> até as <%= @inn.check_out_time.strftime("%H:%M") %> horas</dd>

    <dt><%= Booking.human_attribute_name(:number_of_guests) %>:</dt>
    <dd class="list-group-item"><%= @booking.number_of_guests %></dd>

    <% if @booking.guests.present? %>
      <dt>Hóspedes</dt>
      <dd>
        <% @booking.guests.each do |guest| %>
          <dt>Nome:</dt>
          <dd><%= guest.name %></dd>
          <dt>Documento:</dt>
          <dd><%= guest.document %></dd>
        <% end %>
      </dd>
      <dd></dd>
      <dt class="list-group-item"></dt>
    <% end %>

    <dt><%= Booking.human_attribute_name(:bill) %>:</dt>
    <dd class="list-group-item"><%= number_to_currency @booking.calculate_bill, unit: "R$", delimiter: ".", separator: "," %></dd>

    <dt><%= Booking.human_attribute_name(:code) %>:</dt>
    <dd class="list-group-item"><%= @booking.code %></dd>

    <dt><%= Booking.human_attribute_name(:status) %>:</dt>
    <dd class="list-group-item"><%= t(@booking.status) %></dd>
  </dl>
</section>

<% if @review.present? %>
  <section id="review" class="width-70 d-flex justify-content-center">
    <div class="card" style="width: 40vw;">
      <div class="card-header text-center">
        <h5>Avaliação</h5>
      </div>
      <div class="card-body">
        <dl class="description-list">
          <div class="row">
            <div class="col">
              <dt>Nota:</dt>
              <dd><%= @review.score %></dd>
            </div>
            <div class="col">
              <dt>Mensagem:</dt>
              <dd><%= @review.message %></dd>
            </div>
          </div>
        </dl>
        <hr>
        <section id="review-answer" class="text-center">
          <%= render partial: "reviews/review_answer" %>
        </section> 
      </div>
    </div>
  </section>

<% end %>

<section id="booking-options" class="text-center">
  <% if current_user %>
    <%= render partial: "user_options" %>
  <% elsif current_owner %>
    <%= render partial: "owner_options" %>
  <% end %>
</section>

<br>

<div class="text-center">
  <% if owner_signed_in? %>
    <%= link_to t("back_link"), bookings_path, class: "btn btn-lg btn-outline-dark" %>
  <% else %>
    <%= link_to t("back_link"), my_bookings_path, class: "btn btn-lg btn-outline-dark" %>
  <% end %>
</div>
