<%= form_with model: @seasonal_price, url: [@room, @seasonal_price] do |f| %>
  <div class="mb-3">
    <%= f.label :start, class: "form-label" %>
    <%= f.date_field :start, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :end, class: "form-label" %>
    <%= f.date_field :end, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :price, class: "form-label" %>
    <%= f.number_field :price, step: 0.01, class: "form-control" %>
  </div>
  <div class="text-center d-grid gap-2">
    <%= f.submit class: "btn btn-lg btn-dark" %>
  </div>

  <br>
<% end %>