<div class="container">
  <div class="row align-items-start">

    <div class="col-3 order-first">
        <nav id="cities-menu">
          <ul>
            <% @cities.each do |city| %>
              <li><%= link_to city, city_search_inns_path(city: city) %></li>
            <% end %>
          </ul>
        </nav>
    </div>

    <div class="col">
      <section id="inns-list">
        <% if @recent_inns.empty? %>
          <p><%= t("no_inns_yet") %></p>
        <% else %>
          <h2><%= t("new_inns") %></h2>
          <div id="recent">
            <div>
              <%= render @recent_inns %>
            </div>
          </div>
          <hr/>
          <h2><%= Inn.model_name.human(count: 2) %></h2>
          <div id="inns-list">
            <div>
              <%= render @inns %>
            </div>
          </div>
        <% end %>
      </section>
    </div>

  </div>
</div>