<h1><%= t("advanced_search") %></h1>

<div id="advanced-search-form">
  <%= form_with(url: search_inns_path, method: :get) do |f| %>
    <div>
      <%= f.label :name, "Nome" %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :city, "Cidade" %>
      <%= f.text_field :city %>
    </div>
    <div>
      <%= f.label :pet_friendly, "Aceita pets" %>
      <%= f.check_box :pet_friendly %>
    </div>
    <div>
      <%= f.label :accessibility, "Acessível para PCD" %>
      <%= f.check_box :accessibility %>
    </div>
    <div>
      <%= f.label :wifi, "Wi-fi" %>
      <%= f.check_box :wifi %>
    </div>
    <div>
      <%= f.label :bathroom, "Banheiro privativo" %>
      <%= f.check_box :bathroom %>
    </div>
    <div>
      <%= f.label :air_conditioner, "Ar-condicionado" %>
      <%= f.check_box :air_conditioner %>
    </div>
    <div>
      <%= f.label :wardrobe, "Guarda-roupas" %>
      <%= f.check_box :wardrobe %>
    </div>
    <div>
      <%= f.label :tv, "TV" %>
      <%= f.check_box :tv %>
    </div>
    <div>
      <%= f.label :porch, "Varanda" %>
      <%= f.check_box :porch %>
    </div>
    <div>
      <%= f.label :safe, "Cofre" %>
      <%= f.check_box :safe %>
    </div>
    <%= f.hidden_field :advanced, { value: true } %>
    <div>
      <%= f.submit t("search_button") %>
    </div>
  <% end %>
</div>