<%= render partial: "shared/form_errors", locals: { model: @inn }%>

<h1>Editar <%= Inn.model_name.human(count: 1) %></h1>

<%= render partial: "inn_form" %>

<% if @inn.active? %>
    <%= button_to "Desativar Pousada", change_status_inn_path, { method: "patch" } %>
<% else %>
    <%= button_to "Ativar Pousada", change_status_inn_path, { method: "patch" } %>
<% end %>

<%= link_to t("back_link"), my_inn_path %>