<h1>Editar Pousada</h1>

<%= render partial: "shared/form_errors", locals: { model: @inn }%>

<%= render partial: "inn_form" %>

<% if @inn.active? %>
    <%= button_to "Desativar Pousada", change_status_inn_path, { method: "patch" } %>
<% else %>
    <%= button_to "Ativar Pousada", change_status_inn_path, { method: "patch" } %>
<% end %>

<%= link_to "Voltar", my_inn_path %>