<h1><%= t("search_for") %>: <%= params[:query] %></h1>

<p><%= t("results") %>: <%= @inns.count %></p>

<% if @inns.empty? %>
  <p><%= t("no_inn_found") %></p>
<% else %>
  <ul>
    <li><%= render @inns %></li>
  </ul>
<% end %>