<h1><%= @inn.name %></h1>

<section>
  <div>
    <dl>
      <dt><%= Review.model_name.human(count: 1) %>:</dt>
      <% if @average_score.nil? %>
        <dd><%= t("no_reviews") %></dd>
      <% else %>
        <dd><%= @average_score.round(1) %></dd>
      <% end %>
      <dt><%= Inn.human_attribute_name(:name) %>:</dt>
      <dd><%= @inn.name %></dd>

      <dt><%= Inn.human_attribute_name(:phone) %>:</dt>
      <dd><%= @inn.phone %></dd>

      <dt><%= Inn.human_attribute_name(:email) %>:</dt>
      <dd><%= @inn.email %></dd>

      <dt><%= Inn.human_attribute_name(:description) %>:</dt>
      <dd><%= @inn.description %></dd>

      <dt><%= Inn.human_attribute_name(:pay_methods) %>:</dt>
      <dd><%= @inn.pay_methods %></dd>

      <dt><%= Inn.human_attribute_name(:pet_friendly) %>:</dt>
      <dd><%= @inn.pet_friendly ? "sim" : "não" %></dd>

      <dt><%= Inn.human_attribute_name(:user_policies) %>:</dt>
      <dd><%= @inn.user_policies %></dd>

      <dt><%= Inn.human_attribute_name(:check_in_time) %>:</dt>
      <dd>a partir das <%= @inn.check_in_time.strftime("%k:%M") %></dd>

      <dt><%= Inn.human_attribute_name(:check_out_time) %>:</dt>
      <dd>até as <%= @inn.check_out_time.strftime("%k:%M") %></dd>

      <dt><%= Address.model_name.human %>:</dt>
      <dd><%= @inn.address.street_values %></dd>
      <dd><%= @inn.address.location_values %></dd>

      <dt><%= Address.human_attribute_name(:postal_code) %>:</dt>
      <dd><%= @inn.address.postal_code %></dd>
    </dl>
  </div>

  <h2><%= t("available_rooms") %>:</h2>
  <div id="rooms-list">
    <% @rooms.each do |room| %>
      <div>
        <%= render room %>
      </div>
    <% end %>
  </div>

  <section id="recent-reviews">
    <h3><%= t("recent_reviews") %></h3>
    <% @recent_reviews.each do |review| %>
      <div>
        <%= render review %>
      </div>
    <% end %>
    <div>
      <%= link_to t("view_all_reviews"), inn_reviews_path(@inn) %>
    </div>
  </section>

  <%= link_to t("back_link"), root_path %>
</section>