<h1><%= @inn.name %></h1>
<h3>Avaliação média: <%= @inn.average_score.round(1) %></h3>

<section>
  <div>
    <dl>
      <dt><%= Inn.human_attribute_name(:name) %>:</dt>
      <dd><%= @inn.name %></dd>

      <dt><%= Inn.human_attribute_name(:phone) %>:</dt>
      <dd><%= @inn.phone %></dd>

      <dt><%= Inn.human_attribute_name(:email) %>:</dt>
      <dd><%= @inn.email %></dd>

      <dt><%= Inn.human_attribute_name(:description) %>:</dt>
      <dd><%= @inn.description %></dd>

      <dt><%= Inn.human_attribute_name(:pay_methods) %>:</dt>
      <dd><%= @inn.pay_methods %></dd>

      <dt><%= Inn.human_attribute_name(:pet_friendly) %>:</dt>
      <dd><%= @inn.pet_friendly ? "sim" : "não" %></dd>

      <dt><%= Inn.human_attribute_name(:user_policies) %>:</dt>
      <dd><%= @inn.user_policies %></dd>

      <dt><%= Inn.human_attribute_name(:check_in_time) %>:</dt>
      <dd>a partir das <%= @inn.check_in_time.strftime("%k:%M") %></dd>

      <dt><%= Inn.human_attribute_name(:check_out_time) %>:</dt>
      <dd>até as <%= @inn.check_out_time.strftime("%k:%M") %></dd>

      <dt><%= Address.model_name.human %>:</dt>
      <dd><%= @inn.address.street_values %></dd>
      <dd><%= @inn.address.location_values %></dd>

      <dt><%= Address.human_attribute_name(:postal_code) %>:</dt>
      <dd><%= @inn.address.postal_code %></dd>
    </dl>
  </div>

  <h2><%= t("available_rooms") %>:</h2>
  <div id="rooms-list">
    <% @rooms.each do |room| %>
      <div>
        <%= render room %>
      </div>
    <% end %>
  </div>

  <%= link_to "Voltar", root_path %>
</section>