<section class="form">
  <%= form_with model: @room do |f| %>
    <div class="mb-3">
      <%= f.label :name, class: "form-label" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= f.label :description, class: "form-label" %>
      <%= f.text_field :description, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= f.label :size, class: "form-label" %>
      <%= f.number_field :size, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= f.label :max_guests, class: "form-label" %>
      <%= f.number_field :max_guests, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= f.label :price, class: "form-label" %>
      <%= f.number_field :price, step: 0.01, class: "form-control" %>
    </div>
    <div class="mb-3 row">
      <p>Comodidades</p>
      <div class="col-md-6">
        <div class="form-check form-switch">
          <%= f.label :bathroom, class: "form-check-label" %>
          <%= f.check_box :bathroom, class: "form-check-input" %>
        </div>
        <div class="form-check form-switch">
          <%= f.label :porch, class: "form-check-label" %>
          <%= f.check_box :porch, class: "form-check-input" %>
        </div>
        <div class="form-check form-switch">
          <%= f.label :air_conditioner, class: "form-label" %>
          <%= f.check_box :air_conditioner, class: "form-check-input" %>
        </div>
        <div class="form-check form-switch">
          <%= f.label :tv, class: "form-check-label" %>
          <%= f.check_box :tv, class: "form-check-input" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-check form-switch">
          <%= f.label :wardrobe, class: "form-check-label" %>
          <%= f.check_box :wardrobe, class: "form-check-input" %>
        </div>
        <div class="form-check form-switch">
          <%= f.label :safe, class: "form-check-label" %>
          <%= f.check_box :safe, class: "form-check-input" %>
        </div>
        <div class="form-check form-switch">
          <%= f.label :accessibility, class: "form-check-label" %>
          <%= f.check_box :accessibility, class: "form-check-input"%>
        </div>
        <div class="form-check form-switch">
          <%= f.label :wifi, class: "form-check-label" %>
          <%= f.check_box :wifi, class: "form-check-input" %>
        </div>
      </div>
    </div>
    <br>
    <div class="form-check form-switch">
      <%= f.label :active, class: "form-check-label" %>
      <%= f.check_box :active, class: "form-check-input" %>
    </div>
    <br>
    <div class="mb-3 input-group">
      <%= f.label :photos, "Fotos", class: "input-group-text" %>
      <%= f.file_field :photos, multiple: true, class: "form-control" %>
    </div>
    <div class="text-center d-grid gap-2">
      <%= f.submit "Salvar Quarto", class: "btn tn-lg btn-dark" %>
    </div>
  <% end %>

</section>
