<%= form_with model: @room do |f| %>
  <div>
    <%= f.label :name, "Nome" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description, "Descrição" %>
    <%= f.text_field :description %>
  </div>
  <div>
    <%= f.label :size, "Tamanho (m²)" %>
    <%= f.number_field :size%>
  </div>
  <div>
    <%= f.label :max_guests, "Número máximo de hóspedes" %>
    <%= f.number_field :max_guests%>
  </div>
  <div>
    <%= f.label :price, "Valor da diária" %>
    <%= f.number_field :price, step: 0.01%>
  </div>
  <div>
    <p>Comodidades</p>
    <div>
      <%= f.label :bathroom, "Banheiro próprio" %>
      <%= f.check_box :bathroom %>
    </div>
    <div>
      <%= f.label :porch, "Varanda" %>
      <%= f.check_box :porch %>
    </div>
    <div>
      <%= f.label :air_conditioner, "Ar-condicionado" %>
      <%= f.check_box :air_conditioner %>
    </div>
    <div>
      <%= f.label :tv, "Televisão" %>
      <%= f.check_box :tv %>
    </div>
    <div>
      <%= f.label :wardrobe, "Guarda-roupas" %>
      <%= f.check_box :wardrobe %>
    </div>
    <div>
      <%= f.label :safe, "Cofre" %>
      <%= f.check_box :safe %>
    </div>
    <div>
      <%= f.label :accessibility, "Acessibilidade" %>
      <%= f.check_box :accessibility%>
    </div>
    <div>
      <%= f.label :wifi, "Wi-fi" %>
      <%= f.check_box :wifi %>
    </div>
  </div>
  <div>
    <%= f.submit "Salvar Quarto" %>
  </div>
<% end %>