<section class="details">
  <%= render @room %>

  <% if owner_signed_in? && @room.inn.owner == current_owner %>
    <div>
      <%= link_to "Editar Quarto", edit_room_path(@room), class: "btn btn-lg btn-dark" %>
    </div>
  <% end %>

  <% unless owner_signed_in? %>
    <%= button_to "Reservar", new_room_booking_path(@room), method: :get, class: "btn btn-lg btn-dark" %>
  <% end %>

  <br>
  <br>

  <div>
    <h3>Preços Sazonais</h3>
    <% if @seasonal_prices.empty? %>
      <p>Nenhum Preço Sazonal Cadastrado</p>
    <% end %>

    <div id="seasonal-prices">
      <% @seasonal_prices.each do |price| %>
          <div class="card w-50 mb-3">
            <div class="card-body">
              <%= link_to price.date_pretty_print, edit_seasonal_price_path(price) %> | 
              <%= number_to_currency price.price, unit: "R$", separator: ",", delimiter: "." %>
            </div>
        </div>
      <% end %>
    </div>

    <% if owner_signed_in? && @room.inn.owner == current_owner %>
      <%= link_to "Novo Preço Sazonal", new_room_seasonal_price_path(@room), class: "btn btn-lg btn-dark" %>
    <% end %>
  </div>

  <br>

  <% if owner_signed_in? %>
    <%= link_to "Voltar", my_inn_path, class: "btn btn-lg btn-outline-dark" %>
  <% else %>
    <%= link_to "Voltar", inn_path(@room.inn), class: "btn btn-lg btn-outline-dark" %>
  <% end %>
</section>
