<section id="reviews-list">
  <br>
  <div class="text-center">
    <h1><%= Review.model_name.human(count: 2) %> - <%= @inn.name %></h1>
  </div>

  <br>

    <section class="width-70 d-flex justify-content-center">
    <% @reviews.each do |review| %>
      <div class="row">
        <div class="col">
          <div class="card">
            <dl>
              <% if current_owner %>
                <div class="card-header">
                  <dt><%= Booking.model_name.human(count: 1) %>:</dt>
                  <dd><%= link_to review.booking.code, booking_path(review.booking) %></dd>
                </div>
              <% end %>
              <div class="card-body">
                <dt><%= User.model_name.human(count: 1) %>:</dt>
                <dd><%= review.booking.user.name %></dd>
                <dt><%= Review.human_attribute_name(:score) %>:</dt>
                <dd><%= review.score %></dd>
                <dt><%= Review.human_attribute_name(:message) %>:</dt>
                <dd><%= review.message %></dd>
                <dt><%= t("owner_answer") %>:</dt>
                <dd><%= review.answer %></dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
    <% end %>
    </section>
</section>

<div class="text-center">
  <%= link_to t("back_link"), root_path, class: "btn btn-lg btn-outline-dark" %>
</div>