<h1><%= Review.model_name.human(count: 2) %> - <%= @inn.name %></h1>

<section id="reviews-list">
  <ul>
    <% @reviews.each do |review| %>
      <li>
        <dl>
          <% if current_owner %>
            <dt>Reserva:</dt>
            <dd><%= link_to review.booking.code, booking_path(review.booking) %></dd>
          <% end %>
          <dt>Hóspede:</dt>
          <dd><%= review.booking.user.name %></dd>
          <dt>Nota:</dt>
          <dd><%= review.score %></dd>
          <dt>Mensagem:</dt>
          <dd><%= review.message %></dd>
          <dt>Resposta do proprietário:</dt>
          <dd><%= review.answer %></dd>
        </dl>
      </li>
    <% end %>
  </ul>
</section>

<%= link_to "Voltar", root_path %>