<!DOCTYPE html>
<html>
  <head>
    <title>Pousadaria</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <header>
      <nav>
        <ul>
          <li>Pousadaria</li>
            <% if current_owner %>
              <li><%= current_owner.email %></li>
              <li><%= link_to "Sair", destroy_owner_session_path, method: :delete, data: { turbo_method: :delete } %></li>
            <% else %>
              <li><%= link_to "Entrar", logins_path %></li>
            <% end %>
        </ul>
      </nav>
    </header>

    <div>
      <% if flash %>
        <%= notice %>
        <%= alert %>
      <% end %>
    </div>

    <%= yield %>

  </body>
</html>
