<!DOCTYPE html>
<html>
  <head>
    <title>Pousadaria</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <header>
      <nav id="navigation-bar">
        <ul>
          <li><%= link_to "Pousadaria", root_path %></li>
          <li>
            <%= form_with(url: search_inns_path, method: :get) do |f| %>
              <%= f.label :query, "Buscar Pousada" %>
              <%= f.text_field :query, placeholder: "Nome, cidade ou bairro"%>
              <%= f.submit "Buscar" %>
            <% end %>
          </li>
            <% if owner_signed_in? %>
              <li><%= link_to "Minha Pousada", minha_pousada_path %></li>
              <li><%= current_owner.email %></li>
              <li><%= button_to "Sair", destroy_owner_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Entrar", logins_path %></li>
            <% end %>
        </ul>
      </nav>
    </header>

    <div>
      <% if flash %>
        <%= notice %>
        <%= alert %>
      <% end %>
    </div>

    <%= yield %>

  </body>
</html>
